# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# MLflow
mlruns/
mlflow.db
artifacts/

# Models
iris_model_*/
iris_model/
*.pkl
*.h5

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Outputs
*.png
*.jpg
*.log
*.csv
